.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffea;
    z-index: 100000;
    top: 0;
    left: 0;
}

.items { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.spinningBagel {
    animation: spin 4s linear infinite;
    display: inline-block;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}